fastapi
uvicorn[standard]
pydantic
python-dotenv
google-generativeai
pydantic-settings
# library untuk database
sqlalchemy
psycopg2-binary
alembic
# Library Keamanan
passlib
bcrypt==3.2.0
python-jose
# Library validasi email untuk Pydantic
email-validator
# Library untuk form data login
python-multipart